<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Yubisuma</h1>

  <p>あなたは</p>
  <ul>
    <li>NO: [[${user.no}]]</li>
    <li>ID: [[${user.id}]]</li>
    <li>Name: [[${user.name}]]</li>
    <li>残りの手の数: [[${data.hp}]]</li>
    <li>自分が上げた手: [[${data.hand}]]</li>
    <li th:if="${oyaHit}">予想した手の数: [[${oyaHit}]]</li>
    <li>手の数の合計:[[${handsNum}]]</li>
  </ul>

  <div th:if="${flag}">
    <p>[[${result}]]</p>
    <a href="/yubisuma/next">次へ</a>
  </div>

</body>

</html>
