<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="3; URL=/yubisuma/next">
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Yubisuma</h1>

  <p>あなたは</p>
  <ul>
    <li>NO: [[${user.no}]]</li>
    <li>ID: [[${user.id}]]</li>
    <li>Name: [[${user.name}]]</li>
    <li>残りの手の数: [[${data.hp}]]</li>
    <li>oyaNum: [[${oyaNum}]]</li>
  </ul>

  <div th:if="${room}">
    ルームメンバー(入室順)<br>
    メンバーの数: [[${userNum}]]<br>
    <table border="1">
      <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr th:each="r : ${room}">
        <td align="center">[[${r.no}]]</td>
        <td align="center">[[${r.id}]]</td>
        <td align="center">[[${r.name}]]</td>
      </tr>
    </table>
  </div>


  <div th:if="(${user.no} ne ${oyaNum})">
    <p>あなたが上げる指の数を選んでください</p>
    <a th:href="@{/yubisuma/judge(hand=0)}">[0]</a>
    <a th:href="@{/yubisuma/judge(hand=1)}">[1]</a>
    <a th:if="${data.hp} eq 2" th:href="@{/yubisuma/judge(hand=2)}">[2]</a>
  </div>

  <div th:if="(${user.no} eq ${oyaNum})">
    <p>あなたは親です<br>指の数を当ててください</p>
    <p th:if="${sumHp}">指の数の合計は[[${sumHp}]]です<br>この数以下の数字を選んでください</p>
    <form action="/yubisuma/selecthand" method="post">
      <input type="number" name="hit">
      <input type="submit" value="決定">
      <input type="reset" value="リセット">
    </form>
  </div>

</body>

</html>
