<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Yubisuma Async</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/yubisuma_async/room_event_source');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var tbody = document.getElementById("room_list");
        var room_list = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var room_table = "";
        // DBに残っているフルーツのリストがJSONオブジェクトとして得られるので，htmlを作成し，tbodyの中身毎入れ替える
        for (var i = 0; i < room_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var u_id = "<td>" + room_list[i].id + "</td>";
          room_table += bgn_tr + idx + u_id + end_tr;
        }
        console.log(room_table);
        tbody.innerHTML = room_table;

      }
    }
  </script>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Yubisuma</h1>


  ルームメンバー(入室順)<br>
  メンバーの数: [[${userNum}]]<br>
  <div>
    <table border="1">
      <thead>
        <th>No</th>
        <th>ユーザーID</th>
      </thead>
      <tbody id="room_list">
        <span th:if="${room}">
          <tr th:each="room,stat:${room}">
            <td>[[${stat.index}]]</td>
            <td>[[${room.id}]]</td>
          </tr>
        </span>
      </tbody>
    </table>
  </div>

</body>

</html>
